body{
    margin: 0%;
    padding: 0%;
}
.h_img{
    position: absolute;
width: 100vw;
height: 100vh;
background-image: url("h_img.jpg");
}
.logo{
    background-image: url("logo.png");
    background-repeat: no-repeat;
    position: absolute;
    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;
    margin-top: 15%;
    margin-left: 52%;
}
.welcome{
    position: absolute;
    width: 409px;
    height: 22px;
    margin-top: 21%;
    margin-left: 47%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    color: #EEEEEE;
}
.to{
    position: absolute;
    width: 436px;
    height: 57px;
    margin-top: 26%;
    margin-left: 43%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    color: #FFFFFF;
}
.top{
    position: absolute;
    width: 610px;
    height: 23px;
    margin-left: 37%;
    margin-top: 29%;
    font-family: Ro29%boto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.about{
    position: absolute;
    width: 283vh;
    height: 502px;
    margin-top: 50;
    margin-top: 50%;
    background: #FFFFFF;
}
.abouth1{
    position: absolute;
    width: 240px;
    height: 44px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    margin-left: 33%;
    line-height: 59px;
    color: #000000;
}
.sentence1{
    position: absolute;
    width: 1283px;
    height: 23px;
    margin-left: 14%;
    margin-top: 5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #000000

}
.sentence2{
    position: absolute;
    width: 1283px;
    height: 23px;
    margin-left: 36%;
    margin-top: 6%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #000000

}
.sentence3{
    position: absolute;
    width: 1283px;
    height: 23px;
    margin-left: 21%;
    margin-top: 7%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #000000

}
.sentence4{
    position: absolute;
    width: 1283px;
    height: 23px;
    margin-left: 20.5%;
    margin-top: 8.5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #000000

}
.sentence5{
    position: absolute;
    width: 1283px;
    height: 23px;
    margin-left: 26%;
    margin-top: 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #000000

}
.services{
    position: absolute;
    width: 100vw;
    height: 50vh;
    margin-top: 75%;
    background-repeat: no-repeat;
    background: url(s_image.jpg);
}
.servicesh1{
    position: absolute;
    width: 240px;
    height: 44px;
    margin-left: 48%;
    margin-top: 7%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
}
.servicessentence1{
    position: absolute;
    width: 1074px;
    height: 33px;
    margin-left: 26%;
    margin-top: 12%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;

}
.servicessentence2{
    position: absolute;
    width: 1074px;
    height: 33px;
    margin-left: 35%;
    margin-top: 14%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;

}
.servicessentence3{
    position: absolute;
    width: 1074px;
    height: 33px;
    margin-left: 32%;
    margin-top: 16%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;

}
.what_we_do{
    position: absolute;
    width: 100vw;
    margin-top: 102%;
    height: 1040px;
    background: #FFFFFF;
}
.what_we_do_h1{
    position: absolute;
    width: 327px;
    height: 59px;
    margin-left: 45%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    color: #000000;
}
.design{
    position: absolute;
    width: 80px;
    height: 14vh;
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-top: 10%;
}
.design1{
    position: absolute;
    width: 71px;
    height: 27px;
    margin-top: 110%;
    margin-left: 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #000000;
}
.development{
    position: absolute;
    width: 79px;
    height: 9vh;
    margin-left: 50%;
    margin-top: 10%;
    border-radius: 4px;
}
.development1{
    position: absolute;
    width: 137px;
    height: 27px;
    margin-top: 110%;
    margin-left: -38%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.productmanagement{
    position: absolute;
    width: 79px;
    background-repeat: no-repeat;
    height: 10.5vh;
    margin-left: 75%;
    margin-top: 10%;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.productmanagement1{
    position: absolute;
    width: 240px;
    height: 27px;
    margin-top: 120%;
    margin-left: -100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #000000;
}
.portfolio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 1020px;
    height: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 59px;
    color: #000000;
    margin-left: 5%;
    margin-top: 23%;
}
.portfolio .box{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    padding: 1%;
}
.portfolio .box img{
    width: 120%;
}
.portfolio .box.snaake{
    position: relative;
}
.portfolio:hover .image {
    opacity: 0.3;
  }
  
  .portfolio:hover .overlay {
    opacity: 1;
  }
  
  .box{
    background-color: white;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
.portfolio .box:hover .snake img{
    transform: scale(1.2);
}
.backgroundimage-ContactUs{
    position: absolute;
    width: 100vw;
    height: 527px;
    margin-top: 75%;
    background: url(c_image.jpg);
}
#Name{
    position: absolute;
    width: 750px;
    height: 55px;
    margin-top: 5%;
    margin-left: 3%;
    opacity: 0.3;
    font-size: 20px;
    box-sizing: border-box;
    border: 1px solid white;
}
#Email{
    position: absolute;
    width: 750px;
    height: 55px;
    margin-top: 5%;
    margin-left: 51%;
    opacity: 0.3;
    font-size: 20px;
    box-sizing: border-box;
    border: 1px solid white;
}
#textarea{
    width: 1000px;
    height: 300px;
    margin-top: 10%;
    margin-left: 20%;
    opacity: 0.3;
    font-size: 20px;
    box-sizing: border-box;
    border: 1px solid white
}
.twitter{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 205%;
    margin-left: 36%;
    background: url(twitter.png) no-repeat;
}
.dribble{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 205%;
    margin-left: 39%;
    background: url(dribble.png) no-repeat;
}
.facebook{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 205%;
    margin-left: 42%;
    background: url(facebook.png) no-repeat;
}
.g_plus{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 205%;
    margin-left: 45%;
    background: url(g_plus.png) no-repeat;
}
.skype{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 205%;
    margin-left: 48%;
    background: url(skype.png) no-repeat;
}
.stumble_upon{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 205%;
    margin-left: 51%;
    background: url(stumble_upon.png) no-repeat;
}
.behance{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 205%;
    margin-left: 54%;
    background: url(behance.png) no-repeat;
}
.pinterest{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 205%;
    margin-left: 57%;
    background: url(pinterest.png) no-repeat;
}
.flickr{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 205%;
    margin-left: 60%;
    background: url(flickr.png) no-repeat;
}
.copyright{
    margin-left: 45%;
    position: absolute;
    width: 241px;
    height: 86px;
    margin-top: 210%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 36px;
    color: #000000;
}
.copyright1{
    margin-left: 50%;
    position: absolute;
    width: 241px;
    height: 86px;
    margin-top: 212%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 36px;
    color: #000000;
}