body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
.h_img{
    position: absolute;
width: 100vw;
height: 100vh;
background-image: url("h_img.jpg");
}
.logo{
    background-image: url("logo.png");
    background-repeat: no-repeat;
    position: absolute;
    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;
    margin-top: 15%;
    margin-left: 52%;
}
.welcome{
    position: absolute;
    width: 409px;
    height: 22px;
    margin-top: 21%;
    margin-left: 47%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    color: #EEEEEE;
}
.to{
    position: absolute;
    width: 436px;
    height: 57px;
    margin-top: 24%;
    margin-left: 43%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    color: #FFFFFF;
}
.top{
    position: absolute;
    width: 584px;
    height: 23px;
    margin-left: 37%;
    margin-top: 28%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}
.about{
    position: absolute;
    width: 283vh;
    height: 502px;
    margin-top: 50;
    margin-top: 50%;
    background: #FFFFFF;
}
.abouth1{
    position: absolute;
    width: 240px;
    height: 44px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    margin-left: 33%;
    line-height: 59px;
    color: #000000;
}
.sentence1{
    position: absolute;
    width: 1283px;
    height: 23px;
    margin-left: 14%;
    margin-top: 5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #000000

}
.sentence2{
    position: absolute;
    width: 1283px;
    height: 23px;
    margin-left: 36%;
    margin-top: 6%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #000000

}
.sentence3{
    position: absolute;
    width: 1283px;
    height: 23px;
    margin-left: 21%;
    margin-top: 7%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #000000

}
.sentence4{
    position: absolute;
    width: 1283px;
    height: 23px;
    margin-left: 20.5%;
    margin-top: 8.5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #000000

}
.sentence5{
    position: absolute;
    width: 1283px;
    height: 23px;
    margin-left: 26%;
    margin-top: 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #000000

}
.services{
    position: absolute;
    width: 100vw;
    height: 50vh;
    margin-top: 75%;
    background-repeat: no-repeat;
    background: url(s_image.jpg);
}
.servicesh1{
    position: absolute;
    width: 240px;
    height: 44px;
    margin-left: 48%;
    margin-top: 7%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
}
.servicessentence1{
    position: absolute;
    width: 1074px;
    height: 33px;
    margin-left: 26%;
    margin-top: 12%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;

}
.servicessentence2{
    position: absolute;
    width: 1074px;
    height: 33px;
    margin-left: 35%;
    margin-top: 14%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;

}
.servicessentence3{
    position: absolute;
    width: 1074px;
    height: 33px;
    margin-left: 32%;
    margin-top: 16%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;

}
.what_we_do{
    position: absolute;
    width: 100vw;
    margin-top: 102%;
    height: 1040px;
    background: #FFFFFF;
}
.what_we_do_h1{
    position: absolute;
    width: 327px;
    height: 59px;
    margin-left: 45%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    color: #000000;
}
.design{
    position: absolute;
    width: 80px;
    height: 14vh;
    background: url(design_icon.png);
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-top: 10%;
}
.design1{
    position: absolute;
    width: 71px;
    height: 27px;
    margin-top: 110%;
    margin-left: 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #000000;
}
.development{
    position: absolute;
    width: 79px;
    height: 9vh;
    margin-left: 50%;
    margin-top: 10%;
    background: url(dev_icon.png);
    border-radius: 4px;
}
.development1{
    position: absolute;
    width: 137px;
    height: 27px;
    margin-top: 110%;
    margin-left: -38%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #000000;

}
.productmanagement{
    position: absolute;
    width: 79px;
    background-repeat: no-repeat;
    height: 10.5vh;
    background: url(product_icon.png);
    margin-left: 75%;
    margin-top: 10%;
}
.productmanagement1{
    position: absolute;
    width: 240px;
    height: 27px;
    margin-top: 120%;
    margin-left: -100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #000000;
}
.portfolio{
    position: absolute;
    width: 262px;
    height: 59px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 59px;
    color: #000000;
    margin-left: 48%;
    margin-top: 20%;


}
.project1{
    position: absolute;
    width: 250px;
    height: 216px;
    margin-left: -250%;
}
.project2{
    position: absolute;
    width: 250px;
    height: 216px;
    margin-left: -105%;
}
.project3{
    position: absolute;
    width: 250px;
    height: 216px;
    margin-left: 35%;
}
.project4{
    position: absolute;
    width: 250px;
    height: 216px;
    margin-left: 175%;
}
.project5{
    position: absolute;
    width: 250px;
    height: 216px;
    margin-left: -250%;
    margin-top: 130%;
}
.project6{
    position: absolute;
    width: 250px;
    height: 216px;
    margin-left: -105%;
    margin-top: 130%;
}
.project7{
    position: absolute;
    width: 250px;
    height: 216px;
    margin-left: 35%;
    margin-top: 130%;
}
.project8{
    position: absolute;
    width: 250px;
    height: 216px;
    margin-left: 175%;
    margin-top: 130%;
}